body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

.container {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #d9d9d9;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  display: grid; }

.header h1 {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 30px;
  color: black;
  text-decoration: none; }

.header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  background-color: #adadad;
  text-decoration: none; }

.kundvagn {
  grid-column: 8 / 9;
  grid-row: 1; }

.kundvagn img {
  width: 50px;
  height: 50px;
  margin-top: 15px; }

.home {
  grid-column: 8 / 9;
  grid-row: 1; }

.home img {
  width: 50px;
  height: 50px;
  margin-top: 15px; }

.backgroundpic {
  grid-column: 1 / 9;
  grid-row: 2 / 12; }

.backgroundpic img {
  width: 100%;
  height: 100%; }

.menu {
  font-size: 25px;
  font-family: "Arial Black", sans-serif;
  color: black;
  align-self: center;
  grid-row: span 1;
  grid-column: span 1;
  position: fixed;
  background-color: rgba(128, 128, 127, 0.719);
  height: 100vh;
  transition: 0.4s linear;
  width: 50vw;
  left: -50vw; }

.open {
  grid-column: 1 / 2;
  font-size: 40px;
  color: black;
  align-self: auto;
  grid-row: 1;
  cursor: pointer;
  margin-top: 7px; }

.show {
  left: 0vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

i.material-icons {
  font-size: 50px;
  margin-top: 8px; }

.welcome {
  grid-column: 1 / 12;
  grid-row: 2 / 5; }

.welcome img {
  width: 100%;
  height: 100%; }

.popular {
  grid-column: 1 / 12;
  grid-row: 5;
  background-color: #80807f;
  text-align: center;
  vertical-align: middle;
  border: 2px solid black;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold; }

.footer {
  grid-row: 12 / 13;
  grid-column: span 9;
  background-color: #adadad; }

.menu ul li a:link, a:visited {
  color: black;
  text-decoration: none; }

.menu ul li a:hover {
  color: red; }

@media screen and (max-width: 400px) {
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; }

  .container {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #d9d9d9;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    display: grid; }

  .header h1 {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 30px;
    color: black; }

  .header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    background-color: #66c2ff;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

  .header h1 a {
    text-decoration: none;
    font-size: 34px; }

  .kundvagn {
    grid-column: 8 / 9;
    grid-row: 1; }

  .kundvagn img {
    width: 50px;
    height: 50px;
    margin-top: 15px; }

  .home {
    grid-column: 8 / 9;
    grid-row: 1; }

  .home img {
    width: 50px;
    height: 50px;
    margin-top: 15px; }

  .checkout {
    grid-column: 2 / 8;
    grid-row: 3 / 11;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; }

  .checkout ul li {
    margin: 30px 0;
    word-spacing: 90px; }

  .betala {
    grid-column: 5 / 8;
    grid-row: 10 / 11; }

  .betala button {
    background-color: pink;
    border: none;
    color: black;
    padding: 12px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

  .menu {
    font-size: 25px;
    font-family: "Arial Black", sans-serif;
    color: black;
    align-self: center;
    grid-row: span 1;
    grid-column: span 1;
    position: fixed;
    background-color: rgba(179, 224, 255, 0.719);
    height: 100vh;
    transition: 0.4s linear;
    width: 50vw;
    left: -50vw; }

  .open {
    grid-column: 1 / 2;
    font-size: 40px;
    color: black;
    align-self: auto;
    grid-row: 1;
    cursor: pointer;
    margin-top: 7px; }

  .show {
    left: 0vw;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

  i.material-icons {
    font-size: 50px;
    margin-top: 8px; }

  .welcome {
    grid-column: 2 / 8;
    grid-row: 2 / 5;
    border: 2px solid black; }

  .welcome img {
    width: 100%;
    height: 100%; }

  .popular {
    grid-column: 1 / 12;
    grid-row: 5;
    background-color: #99d6ff;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    font-family: Arial;
    font-size: 45px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

  .om {
    grid-column: 2 / 8;
    grid-row: 3 / 6;
    background-color: #ccebff;
    border: 2px solid black;
    border-radius: 10px; }

  .checkouttext {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    font-size: 12px;
    text-align: center;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

  .omtext {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    font-size: 12px;
    text-align: center;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

  .hittatext {
    grid-column: 3 / 7;
    grid-row: 6 / 7;
    text-align: center;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    margin-top: -7px;
    margin-bottom: -7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

  .hitta {
    grid-column: 2 / 8;
    grid-row: 7 / 11;
    border: 2px solid black;
    border-radius: 10px; }

  .hitta iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px; }

  .backgroundpic {
    grid-column: 1 / 12;
    grid-row: 2 / 12; }

  .backgroundpic img {
    width: 100%;
    height: 100%; }

  .shoe1 {
    grid-column: 2 / 8;
    grid-row: 6 / 9;
    border: 2px solid black; }

  .shoe1 img {
    width: 100%;
    height: 100%;
    cursor: pointer; }

  .shoe2 {
    grid-column: 2 / 8;
    grid-row: 9 / 12;
    border: 2px solid black; }

  .shoe2 img {
    width: 100%;
    height: 100%;
    cursor: pointer; }

  .sko1 {
    grid-column: 2 / 8;
    grid-row: 3 / 6;
    border-radius: 10px; }

  .sko1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid black; }

  .skoknapp1 {
    grid-row: 6 / 7;
    grid-column: 6 / 8; }

  .skoknapp1 button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 3px;
    border: 1px solid black;
    cursor: pointer; }

  .skostorlek1 {
    grid-row: 6 / 7;
    grid-column: 2 / 5; }

  .sko2 {
    grid-column: 2 / 8;
    grid-row: 7 / 10;
    border-radius: 10px;
    border: 2px solid black; }

  .sko2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }

  .skoknapp2 {
    grid-row: 10 / 11;
    grid-column: 6 / 8; }

  .skoknapp2 button {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: px;
    border: 1px solid black;
    cursor: pointer; }

  .sell {
    grid-row: 5 / 8;
    grid-column: 2 / 8;
    background-color: lightgrey;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px; }

  .selltext {
    grid-column: 2 / 8;
    grid-row: 4 / 5;
    text-align: center;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
    margin-top: -7px;
    margin-bottom: -7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

  .footer {
    grid-row: 12 / 13;
    grid-column: span 9;
    background-color: #33adff;
    border: 2px solid black; }

  .menu ul li a:link, a:visited {
    color: black;
    text-decoration: none; }

  .menu ul li a:hover {
    color: white; } }
