body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #51afbc;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  display: grid; }

.header h1 {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 30px;
  color: black; }

.header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  background-color: #19818f; }

.kundvagn {
  grid-column: 8 / 9;
  grid-row: 1; }

.kundvagn img {
  width: 50px;
  height: 50px;
  margin-top: 8px; }

.home {
  grid-column: 8 / 9;
  grid-row: 1; }

.home img {
  width: 50px;
  height: 50px;
  margin-top: 8px; }

.menu {
  font-size: 25px;
  color: black;
  align-self: center;
  grid-row: span 1;
  grid-column: span 1;
  position: fixed;
  background-color: rgba(122, 204, 215, 0.719);
  height: 100vh;
  transition: 0.4s linear;
  width: 50vw;
  left: -50vw; }

.open {
  grid-column: 1 / 2;
  font-size: 40px;
  color: black;
  align-self: auto;
  grid-row: 1;
  cursor: pointer; }

.show {
  left: 0vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

i.material-icons {
  font-size: 50px;
  margin-top: 8px; }

.welcome {
  grid-column: 1 / 12;
  grid-row: 2 / 5; }

.welcome img {
  width: 100%;
  height: 100%; }

.popular {
  grid-column: 1 / 12;
  grid-row: 5;
  background-color: #aee5ed;
  text-align: center;
  vertical-align: middle;
  border: 2px solid black;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold; }

.erbjudande2 {
  grid-column: 2 / 8;
  grid-row: 5 / 8;
  background-color: #aee5ed;
  text-align: center;
  padding-top: 25px;
  border: 2px solid black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer; }

.erbjudande3 {
  grid-column: 2 / 8;
  grid-row: 9 / 11;
  background-color: #aee5ed;
  text-align: center;
  padding-top: 25px;
  border: 2px solid black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer; }

.footer {
  grid-row: 12 / 13;
  grid-column: span 9;
  background-color: #01535f; }

.menu ul li a:link, a:visited {
  color: black;
  text-decoration: none; }

.menu ul li a:hover {
  color: red; }

@media screen and (max-width: 400px) {
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; }

  .container {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #51afbc;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    display: grid; }

  .header h1 {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 30px;
    color: black; }

  .header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    background-color: #19818f; }

  .kundvagn {
    grid-column: 8 / 9;
    grid-row: 1; }

  .kundvagn img {
    width: 50px;
    height: 50px;
    margin-top: 8px; }

  .home {
    grid-column: 8 / 9;
    grid-row: 1; }

  .home img {
    width: 50px;
    height: 50px;
    margin-top: 8px; }

  .info1 {
    grid-column: 2 / 8;
    grid-row: 3 / 7;
    background-color: gray; }

  .info2 {
    grid-column: 2 / 8;
    grid-row: 8 / 11;
    background-color: white; }

  .menu {
    font-size: 25px;
    color: black;
    align-self: center;
    grid-row: span 1;
    grid-column: span 1;
    position: fixed;
    background-color: rgba(122, 204, 215, 0.719);
    height: 100vh;
    transition: 0.4s linear;
    width: 50vw;
    left: -50vw; }

  .open {
    grid-column: 1 / 2;
    font-size: 40px;
    color: black;
    align-self: auto;
    grid-row: 1;
    cursor: pointer; }

  .show {
    left: 0vw;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

  i.material-icons {
    font-size: 50px;
    margin-top: 8px; }

  .welcome {
    grid-column: 1 / 12;
    grid-row: 2 / 5; }

  .welcome img {
    width: 100%;
    height: 100%; }

  .popular {
    grid-column: 1 / 12;
    grid-row: 5;
    background-color: #aee5ed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    font-family: Arial;
    font-size: 45px;
    font-weight: bold; }

  .shoe1 {
    grid-column: 1 / 12;
    grid-row: 6 / 9; }

  .shoe1 img {
    width: 100%;
    height: 100%;
    cursor: pointer; }

  .shoe2 {
    grid-column: 1 / 12;
    grid-row: 9 / 12; }

  .shoe2 img {
    width: 100%;
    height: 100%;
    cursor: pointer; }

  .erbjudande3 {
    grid-column: 2 / 8;
    grid-row: 9 / 11;
    background-color: #aee5ed;
    text-align: center;
    padding-top: 25px;
    border: 2px solid black;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer; }

  .footer {
    grid-row: 12 / 13;
    grid-column: span 9;
    background-color: #01535f; }

  .menu ul li a:link, a:visited {
    color: black;
    text-decoration: none; }

  .menu ul li a:hover {
    color: red; } }
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #51afbc;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  display: grid; }

.header h1 {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 30px;
  color: black; }

.header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  background-color: #19818f; }

.kundvagn {
  grid-column: 8 / 9;
  grid-row: 1; }

.kundvagn img {
  width: 50px;
  height: 50px;
  margin-top: 8px; }

.menu {
  font-size: 25px;
  color: black;
  align-self: center;
  grid-row: span 1;
  grid-column: span 1;
  position: fixed;
  background-color: rgba(122, 204, 215, 0.719);
  height: 100vh;
  transition: 0.4s linear;
  width: 50vw;
  left: -50vw; }

.open {
  grid-column: 1 / 2;
  font-size: 40px;
  color: black;
  align-self: auto;
  grid-row: 1;
  cursor: pointer; }

.show {
  left: 0vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

i.material-icons {
  font-size: 50px;
  margin-top: 8px; }

.welcome {
  grid-column: 1 / 12;
  grid-row: 2 / 5; }

.welcome img {
  width: 100%;
  height: 100%; }

.popular {
  grid-column: 1 / 12;
  grid-row: 5;
  background-color: #aee5ed;
  text-align: center;
  vertical-align: middle;
  border: 2px solid black;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold; }

.erbjudande2 {
  grid-column: 2 / 8;
  grid-row: 5 / 8;
  background-color: #aee5ed;
  text-align: center;
  padding-top: 25px;
  border: 2px solid black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer; }

.erbjudande3 {
  grid-column: 2 / 8;
  grid-row: 9 / 11;
  background-color: #aee5ed;
  text-align: center;
  padding-top: 25px;
  border: 2px solid black;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer; }

.footer {
  grid-row: 12 / 13;
  grid-column: span 9;
  background-color: #01535f; }

.menu ul li a:link, a:visited {
  color: black;
  text-decoration: none; }

.menu ul li a:hover {
  color: red; }

@media screen and (max-width: 400px) {
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; }

  .container {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #51afbc;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    display: grid; }

  .header h1 {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 30px;
    color: black; }

  .header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    background-color: #19818f; }

  .kundvagn {
    grid-column: 8 / 9;
    grid-row: 1; }

  .kundvagn img {
    width: 50px;
    height: 50px;
    margin-top: 8px; }

  .menu {
    font-size: 25px;
    color: black;
    align-self: center;
    grid-row: span 1;
    grid-column: span 1;
    position: fixed;
    background-color: rgba(122, 204, 215, 0.719);
    height: 100vh;
    transition: 0.4s linear;
    width: 50vw;
    left: -50vw; }

  .open {
    grid-column: 1 / 2;
    font-size: 40px;
    color: black;
    align-self: auto;
    grid-row: 1;
    cursor: pointer; }

  .show {
    left: 0vw;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

  i.material-icons {
    font-size: 50px;
    margin-top: 8px; }

  .welcome {
    grid-column: 1 / 12;
    grid-row: 2 / 5; }

  .welcome img {
    width: 100%;
    height: 100%; }

  .popular {
    grid-column: 1 / 12;
    grid-row: 5;
    background-color: #aee5ed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    font-family: Arial;
    font-size: 45px;
    font-weight: bold; }

  .shoe1 {
    grid-column: 1 / 12;
    grid-row: 6 / 9; }

  .shoe1 img {
    width: 100%;
    height: 100%;
    cursor: pointer; }

  .shoe2 {
    grid-column: 1 / 12;
    grid-row: 9 / 12; }

  .shoe2 img {
    width: 100%;
    height: 100%;
    cursor: pointer; }

  .erbjudande3 {
    grid-column: 2 / 8;
    grid-row: 9 / 11;
    background-color: #aee5ed;
    text-align: center;
    padding-top: 25px;
    border: 2px solid black;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer; }

  .footer {
    grid-row: 12 / 13;
    grid-column: span 9;
    background-color: #01535f; }

  .menu ul li a:link, a:visited {
    color: black;
    text-decoration: none; }

  .menu ul li a:hover {
    color: red; } }
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #51afbc;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  display: grid; }

.header h1 {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 30px;
  color: black; }

.header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  background-color: #19818f; }

.kundvagnn {
  grid-column: 8 / 9;
  grid-row: 1; }

.kundvagnn img {
  width: 50px;
  height: 50px;
  margin-top: 8px; }

.menu {
  font-size: 25px;
  color: black;
  align-self: center;
  grid-row: span 1;
  grid-column: span 1;
  position: fixed;
  background-color: rgba(122, 204, 215, 0.719);
  height: 100vh;
  transition: 0.4s linear;
  width: 50vw;
  left: -50vw; }

.open {
  grid-column: 1 / 2;
  font-size: 40px;
  color: black;
  align-self: auto;
  grid-row: 1;
  cursor: pointer; }

.show {
  left: 0vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

i.material-icons {
  font-size: 50px;
  margin-top: 8px; }

.footer {
  grid-row: 12 / 13;
  grid-column: span 9;
  background-color: #01535f; }

.menu ul li a:link, a:visited {
  color: black;
  text-decoration: none; }

.menu ul li a:hover {
  color: red; }

@media screen and (max-width: 400px) {
  body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; }

  .container {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #51afbc;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    display: grid; }

  .header h1 {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 30px;
    color: black; }

  .header {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    background-color: #19818f; }

  .kundvagn {
    grid-column: 8 / 9;
    grid-row: 1; }

  .kundvagnn img {
    width: 50px;
    height: 50px;
    margin-top: 8px; }

  .menu {
    font-size: 25px;
    color: black;
    align-self: center;
    grid-row: span 1;
    grid-column: span 1;
    position: fixed;
    background-color: rgba(122, 204, 215, 0.719);
    height: 100vh;
    transition: 0.4s linear;
    width: 50vw;
    left: -50vw; }

  .open {
    grid-column: 1 / 2;
    font-size: 40px;
    color: black;
    align-self: auto;
    grid-row: 1;
    cursor: pointer; }

  .show {
    left: 0vw;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

  i.material-icons {
    font-size: 50px;
    margin-top: 8px; }

  .footer {
    grid-row: 12 / 13;
    grid-column: span 9;
    background-color: #01535f; }

  .menu ul li a:link, a:visited {
    color: black;
    text-decoration: none; }

  .menu ul li a:hover {
    color: red; } }
