<body>
    <div class="container">
        <div class="header">
            <h1>RareFeet Sweden</h1>
        </div>    
        <div class="open">
            <i class="material-icons" onclick="toggleMenu()">menu</i>
        </div>
        <div class="kundvagn">
            <a href="kundvagn.html"><img src="img/cart2.png" alt=""></a>
        </div>
        <div class="menu">
            <i class="material-icons" onclick="toggleMenu()">close</i>
            <ul>
                <li><a href="about.html">Om oss</a></li>
                <li><a href="yeezy.html">Yeezys</a></li>
                <li><a href="humanrace.html">Human Race</a></li>
                <li><a href="nmd.html">NMD</a></li>
                <li><a href="sell.html">Sälj dina skor</a></li>
            </ul>
        </div>
        <div class="erbjudande2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae culpa deleniti modi qui voluptatum consequatur mollitia necessitatibus repellendus similique.</div>
        <div class="erbjudande3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum hic nemo non ex, ipsa, harum fugit dicta atque accusantium sit ipsam, aut quos.</div>
    </div>
        <script src="js/menu.js"></script>
    </body>
</html>