<body>
    <div class="container">
        <div class="header">
            <h1>
                <a href="index.html">HappyFeet Sweden</a>
            </h1>
        </div>  
        <div class="open">
            <i class="material-icons" onclick="toggleMenu()">menu</i>
        </div>
        <div class="kundvagn">
            <a href="kundvagn.html"><img src="img/cart2.png" alt=""></a>
        </div>
        <div class="menu">
            <i class="material-icons" onclick="toggleMenu()">close</i>
            <ul>
                <li><a href="about.html">Om oss</a></li>
                <li><a href="yeezys.html">Yeezys</a></li>
                <li><a href="humanrace.html">Human Race</a></li>
                <li><a href="nmd.html">NMD</a></li>
                <li><a href="sell.html">Sälj dina skor</a></li>
            </ul>
        </div>
        <div class="backgroundpic">
            <img src="img/backgpic.png" alt="">
        </div>
        <div class="om">Välkommen till HappyFeet Sweden! Vi är ett gäng studenter från Göteborg som dragit igång en skoaffär av rena intresset. Vi alla är intresserade i skor, och framförallt lite mer "exklusiva" och sällsynta sneakers. Här kan du både köpa och sälja dina skor, och snart kommer du även kunna byta dina skor med andra!</div>
        <div class="omtext"><h1>Om HappyFeet Sweden</h1></div>
        <div class="hittatext"><h1>Hitta hit</h1></div>
        <div class="hitta">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2132.539457416252!2d11.974544127328421!3d57.69030423251967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff30cb0e6c031%3A0x512e1a3cb4192a9!2sIT-Gymnasiet+G%C3%B6teborg!5e0!3m2!1ssv!2sse!4v1527178759923" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="footer">
            <li>Kontakt: Happyfeetsweden@gmail.com</li>
            <li>Öppetider: Vardagar: 9-18 Helger: 10-17</li>
        </div>
    </div>
        <script src="js/menu.js"></script>
    </body>
</html>